<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status = 1 ? 'Enrolled' : 'Not Enrolled' %>
</p>

<p>
  <strong>Idnumber:</strong>
  <%= @student.idnumber %>
</p>


<h3>My Classes</h3>

<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Class time</th>
            <th>Professor</th>
        </tr>
    </thead>

    <tbody>
        <% @student.enrollments.each do |enrollment| %>
            <tr>
                <td><%= enrollment.section.course.name %></td>
                <td><%= enrollment.section.time.strftime("%l:%M %p") %></td>
                <td><%= enrollment.section.professor.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>




<%= link_to 'Enroll in Classes', student_enrollments_path(@student) %> | 
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
