<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>Idnumber:</strong>
  <%= @student.idnumber %>
</p>

<h3>Professors</h3>
<ul>
    <% @student.professors.each do |professor| %>
        <li><%= professor.name %></li>
    <% end %>
</ul>

<%= link_to 'Enroll in Classes', student_enrollments_path(@student) %> | 
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
