<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
        <tr class="<%= cycle('list_odd', 'list_even')%>" >
        <td><%= link_to professor.name, professor %></td>
        <td><%= professor.department %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Delete', professor, method: :delete, data: 
            { confirm: "Are you sure you want to delete professor #{professor.name}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Add', new_professor_path, method: :get %>
