<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @professor.name %>
</p>

<p>
<strong>Department:</strong>
<%= @professor.department %>
</p>
<h3>Courses</h3>
<ul>
    <% @courses.each do |course| %>
        <li><%= link_to course.name, course %></li>
        <ul>
            <% course.sections.each do |section| %>
                <% if section.professor === @professor %>
                <li>
                <%= link_to section.time.strftime("%l:%M %p"), section
                %></li>
                <% end %>
            <% end %>
        </ul>
    <% end %>
</ul>
<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
